[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
certifi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-cors-middleware = "*"
django-heroku = "*"
django-rest-swagger = "*"
djangorestframework = "*"
gunicorn = "*"
idna = "*"
itypes = "*"
jinja2 = "*"
markupsafe = "*"
openapi-codec = "*"
pytz = "*"
requests = "*"
simplejson = "*"
sqlparse = "*"
uritemplate = "*"
urllib3 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
